<div class="list-group-item item">
  <span class="item__body id">{{user.id}}</span>
  <span class="item__body name">{{user.fullName}}</span>
  <span class="item__body name">{{user.userName}}</span>
  <span class="item__body access">{{user.age}}</span>
  <span class="item__body access">{{user.role.name}}</span>
  <div class="item__btns">
    <span><button class="btn btn-primary" [routerLink]="['/users', 'edit', user.id]">Update</button></span>
    <span><button class="btn btn-danger">Delete</button></span>
  </div>
</div>
